<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
</style>
*{
    margin:0;
    padding:0;
    font-family:'Roboto',sans-serif;
}
body{
    background-color: hsl(235, 18%, 26%);
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.success-container{
    background-color: hsl(0, 0%, 100%);
    margin-top: 10%;
    padding: 40px 50px;
    border-radius: 25px;
}
.success-heading{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 3rem;
    font-weight: 700;
}
.success-text{
    font-size: 14px;
}
.success-span{
    display: block;
}
.dismiss-btn{
    margin-top: 25px;
    cursor: pointer;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    padding: 15px 0;
    border:none;
    border-radius: 5px;
}

.dismiss-btn:hover{
    background: rgb(255,98,80);
    background: linear-gradient(90deg, rgba(224,69,234,0.7744747899159664) 4%, rgba(255,98,80,1) 70%);
    box-shadow: 0 12px 16px 0  rgba(224,69,234,0.24),0 17px 50px 0 rgba(255,98,80,0.19);
}

@media (max-width: 375px){
    body{
        background: none;
        margin:0;
    }
    .success-container{
        border-radius:0 !important;
        height: 100vh !important;
    }
    .success-span{
        display: inline-block;
    }
    .dismiss-btn{
        margin-top: 60%;
    }
}